@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;700&family=Open+Sans&display=swap');
/*
<div class="img-grid">

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}
*/

* {
    font-family: 'Hind Guntur', sans-serif;
}

.input-row {
    margin-bottom: 24px;
}

h1 {
    display: grid;
    font-size: 48px;
    font-weight: 900;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    padding-bottom: 20px;
    font-weight: 600;
    margin: 0 auto;
}

form {
    display: grid;
}

p {
    font-size: 15;
    color: #858585;
}

.section {
    margin-bottom: 20px;
}

.header-column {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
}

.content-column {
    display: grid;
    max-width: 500px;
    margin: 0 auto; /* centering */
    padding-left: 40px;
    padding-right: 40px;
}

.logo-image {
    margin: 0 auto;
    padding-top: 20px;
    height: 120px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input,
textarea{
    border-radius: 8px;
    width: 100%;
    border: 2px solid #ddd;
    padding: 12px;
    font-size: 18px;
}

input:hover,
textarea:hover{
    border-color: #999;
}

textarea {
    height: 120px;
}

.address-box {
    border-radius: 3px;
    height:40px;
    width: 400px;
    background-color: #D8E1E9;
    border-color: #D8E1E9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #ddd;

    margin: 0 auto;

}

.submit-button {
    font-size: 20px;
    border-radius: 20px;
    height:50px;
    width: 100%;
    background-color: #98C1D9;
    border-color: #162E3B;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #162E3B;
}

.submit-button:hover,
.submit-button:focus {
    color: #275068;
    text-decoration: none;
    cursor: pointer;
    border-color: #275068;
}

.form-inline {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.form-inline input {
    width: 100px;
}

.form-inline span {
    margin-left: 12px;
    margin-right: 12px;
}

.form-inline label {
    flex: 0 0 120px;
    text-align: left;
}

.location-row {
    display: flex;
    margin-bottom: 24px;
}

.location-row label {
    flex-basis: 120px;
}

.location-input {
    margin-bottom: var(--input-margin);
}

