<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Square Merchant Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
        <link rel="stylesheet" type="text/css" href="/css/display_style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <style>
            .map {
                height: 400px;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <div class="section">
            <div class="content-column">
                <div class="photo-reel">
                    <img class="myImages" id="myImg" src={{.Image}}>
                    <img class="myImages" id="myImg" src={{.Image_2}}>
                    <img class="myImages" id="myImg" src={{.Image_3}}>
                    <img class="myImages" id="myImg" src={{.Image_4}}>
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="content-column">
                <div>
                    <h1>
                        {{.Name}}
                    </h1>
                    <ul style="list-style: none;">
                        <li>
                            <div class="icon-box">
                                <i class='fas fa-map-marker-alt top-buffer' style='font-size:20px'></i></div>
                            {{.Location}}
                        </li>
                        <li>
                            <div class="icon-box">
                                <i class="fa fa-envelope top-buffer" style='font-size:20px'></i></div>
                            {{.Email}}
                        </li>
                        <li>
                            <div class="icon-box">
                                <i class="fas fa-phone-volume top-buffer" aria-hidden="true" style='font-size:20px'></i>
                            </div>
                            {{.Phone}}
                        </li>
                    </ul>
                    <div class="icon">
                        <a class="icon-button twitter" onclick="window.location.href='{{.Twitter}}';"><i class="fab fa-twitter"></i><span></span></a>
                        <a class="icon-button facebook" onclick="window.location.href='{{.Facebook}}';"><i class="fab fa-facebook-f"></i><span></span></a>
                        <a class="icon-button instagram" onclick="window.location.href='{{.Instagram}}';"><i class="fab fa-instagram"></i><span></span></a>
                        <a class="icon-button pinterest" onclick="window.location.href='{{.Pinterest}}';"><i class="fab fa-pinterest-p"></i><span></span></a>
                    </div>

                </div>
                <div>
                    <img src={{.Logo}} class="mycircleimg" />
                </div>
            </div>
        </div>

        <div class="section" style="background: #fED">
            <div class="about-column">
                <div>
                    <h2>About</h2>
                    <p>
                        {{.About}}
                    </p>
                </div><!-- About -->
            </div>
        </div>

        <div class="section">
            <div class="content-column">
                <div>
                    <h2>Hours</h2>
                    <div class="hours-grid">
                        <div>
                            <dt>Mon</dt>
                            <dt>Tues</dt>
                            <dt>Wed</dt>
                            <dt>Thurs</dt>
                            <dt>Fri</dt>
                            <dt>Sat</dt>
                            <dt>Sun</dt>
                        </div>
                        <div style="white-space: nowrap">
                            <ul style="list-style: none;">
                                {{range .Schedule}}
                                <li>{{.StartTime}} - {{.EndTime}}{{end}}
                            </ul>
                        </div>
                        <div style="white-space: nowrap">
                            <ul style="list-style: none;">
                                {{range .Schedule}}
                                <li>{{.Location}}{{end}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>Location</h2>
                    <div id="map" class="map" style="width: 500px; height: 400px;"><div id="popup"></div></div>
                    <script id="generate-map" src="/js/map_script.js" lat={{.Latitude}} lng={{.Longitude}} name={{.Name}}></script>
                </div>
            </div>
        </div>
        <script src="/js/display_script.js"></script>
    </body>

</html>

