<!DOCTYPE html>
<html>
	<head>
		<title>Options Page</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="/css/options_style.css">
	    <link href="https://fonts.googleapis.com/css2?family=Hind+Guntur&family=Open+Sans&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="section">
			<div class="content-column">

				<div class="column-item-left">
					<img class="logo" src="https://global-uploads.webflow.com/5c332fe832c18773ee0636be/5c333e14121342f6b304993c_Square_pos-payments_logo_white.png">
					<h2><span style="color:white">What would you like to do?<span></h2>
				</div>

				<div class="column-item-right">
					<div class="left-wrapper">
						<h1>Micro Business Online Platform</h1><br>
						<div class="line-button-container">
						<h3>If you would like to navigate to your webpage, click the following button.</h3>
						<button class="button-attributes" type="button" onclick="window.location.href='{{.ViewLink}}';">
							Go to your page
						</button>
						</div>

						<div class="line-button-container">
							<h3>If you would like to to order your free QR code for your website, click the following button.</h3>
							<button class="button-attributes" type="button" onclick="window.location.href='{{.OrderLink}}';">
								Order QR Code
							</button>
						</div>
					</div>


				</div>

			</div>
		</div>
	</body>
</html>
